<script type="text/html" data-help-name="2jcie-bu-ble">
    <p>OMRON 2JCIE-BU01センサーとBLEで無線通信を行いセンサー値の取得を行います。<br>
    Node-REDの起動時にセンサーをスキャンし、接続できたセンサーからシリアルナンバーの取得を行います。<br>
    起動後は入力があったタイミングで、最新のセンサーデータの取得しmsg.payloadに出力します。</p>

    <h3>入力</h3>
    <dl class="message-properties" style="display: block;">
        <dt class="optional">msgオブジェクト <span class="property-type">オブジェクト</span></dt>
        <dd>ノードの動作のトリガーとしてのみ使用するため、msgオブジェクトの内容は問いません。入力の頻度は1秒以上とします。</dd>
    </dl>

    <h3>出力</h3>
    <ol class="node-ports">
        <li>センサーデータ
            <dl class="message-properties">
                <dt>payload.{BluetoothAddress}.sensorData <span class="property-type">オブジェクト</span></dt>
                <dd>センサーデータを含むmsgオブジェクトを出力します。温度、相対湿度、環境光（Ambient light）、気圧、騒音、eTVOC、eCO2を出力します。</dd>
                <pre>
e.g.)
"sensorData": {
    "temperature": 28.55,
    "relativeHumidity": 80.26,
    "ambientLight": 88,
    "barometricPressure": 1009.148,
    "soundNoise": 61.95,
    "etvoc": 96,
    "eco2": 1032
}
                </pre>
            </dl>
        </li>

        <li>シリアルナンバー
            <dl class="message-properties">
                <dt>payload.{BluetoothAddress}.serialNumber <span class="property-type">オブジェクト</span></dt>
                <dd>シリアルナンバーを含むmsgオブジェクトを出力します。</dd>
                <pre>
e.g.)
"serialNumber": "313839384d5930323832"
                </pre>
            </dl>
        </li>

    </ol>

    <h3>プロパティ</h3>
    <dl class="message-properties" style="display: block;">
        <dt class="optional">target devices <span class="property-type">文字列</span></dt>
        <dd>取得したいセンサーの Bluetooth Address を指定します。カンマ区切りで複数指定することができます。e.g.)A1:B2:C3:D4:E5:F6,F6:E5:D4:C3:B2:A1</dd>

        <dt class="optional">device scan time-out <span class="property-type">数値</span></dt>
        <dd>Node-RED起動時のセンサーとの通信タイムアウト時間を指定します。1 から 10000 (ミリ秒)で指定します。短すぎる場合センサーデータおよびシリアルナンバーの取得ができません。</dd>
    </dl>

    <h3>詳細</h3>
    <p>センサーの仕様については、<a href ="https://www.fa.omron.co.jp/products/family/3724/download/manual.html">OMRON 環境センサ(USB型) 形2JCIE-BU01ユーザーズマニュアル</a>を参照してください。</p>

    <h3>Known Issues</h3>
    <p>なし</p>

</script>