<script type="text/html" data-help-name="2jcie-bu-ble">
    <p>OMRON 2JCIE-BU01 acquires sensor values through wireless communication with the sensor via BLE.<br>
    When Node-RED starts up, it scans the sensors and gets the serial numbers from the sensors it can connect to.<br>
    After startup, the input triggers the output of the latest sensor data to msg.payload.</p>

    <h3>Input</h3>
    <dl class="message-properties" style="display: block;">
        <dt class="optional">msg object<span class="property-type">object</span></dt>
        <dd>Since this value is only used to trigger the action of the node, the content of the msg object doesn't effect outputs. No. The frequency of input is not less than one second.</dd>
    </dl>

    <h3>Output</h3>
    <ol class="node-ports">
        <li>sensor data
            <dl class="message-properties">
                <dt>payload<span class="property-type">object</span></dt>
                <dd>Output a msg object containing sensor data. Temperature, relative humidity, ambient light, barometric pressure, noise, eTVOC, eCO2, Outputs the discomfort index and heat stroke.</dd>
                <pre>
e.g.)
"sensorData": {
    "temperature": 28.55,
    "relativeHumidity": 80.26,
    "ambientLight": 88,
    "barometricPressure": 1009.148,
    "soundNoise": 61.95,
    "etvoc": 96,
    "eco2": 1032
}
                </pre>
            </dl>
        </li>

        <li>serial number
            <dl class="message-properties">
                <dt>payload.{BluetoothAddress}.serialNumber <span class="property-type">object</span></dt>
                <dd>Outputs an msg object containing a serial number.</dd>
                <pre>
e.g.)
"serialNumber": "313839384d5930323832"
                </pre>
            </dl>
        </li>

    </ol>

    <h3>Properties</h3>
    <dl class="message-properties" style="display: block;">
        <dt class="optional">target devices <span class="property-type">string</span></dt>
        <dd>Specify the Bluetooth Address of the sensor you want to get. You can specify multiple addresses separated by commas. e.g.)A1:B2:C3:D4:E5:F6,F6:E5:D4:C3:B2:A1</dd>

        <dt class="optional">device scan time-out <span class="property-type">number</span></dt>
        <dd>Specify the timeout period to communicate with the sensor at Node-RED startup, in milliseconds (1 to 10000). If it is too short, the sensor data and serial number cannot be obtained.</dd>
    </dl>

    <h3>Detail</h3>
    <p>For sensor specifications, refer to the <a href ="https://www.fa.omron.co.jp/products/family/3724/download/manual.html">OMRON Environmental Sensor (USB type) 2JCIE-BU01 User's Manual</a>.</p>

    <h3>Known Issues</h3>
    <p>N/A</p>

</script>