<script type="text/javascript">
    RED.nodes.registerType('2jcie-bu-ble',{
        category: 'sensor',
        color: '#3fadb5',
        defaults: {
            devices: {value:"A1:B2:C3:D4:E5:F6"},
            time_out: {value:1000},
            name: {value:""}
        },
        inputs:1,
        outputs:1,
        icon: "bridge.svg",
        label: function() {
            return this.name||"2jcie-bu-ble";
        }
    });
</script>

<script type="text/html" data-template-name="2jcie-bu-ble">

    <div class="form-row">
        <label for="node-input-devices">target devices</label>
        <input type="text" id="node-input-devices" placeholder='Comma Separated Value e.g.)A1:B2:C3:D4:E5:F6,F6:E5:D4:C3:B2:A1'>
    </div>

    <div class="form-row">
        <label for="node-input-time_out">device scan time-out</label>
        <input type="text" id="node-input-time_out" placeholder='from 1 to 10000 ms'>
    </div>

    <div class="form-row">
        <label for="node-input-name"><i class="fa fa-tag"></i> Name</label>
        <input type="text" id="node-input-name" placeholder="Name">
    </div>
</script>